.add-todo {
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4e58a1;
  padding: 30px;
}

.add-todo header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 200px;
}

.add-todo header a,
.icon-container {
  color: #2ebaee;
  font-size: 25px;
}

.add-todo__title h4 {
  font-size: 20px;
  color: white;
}

.add-list__form {
  animation: slide-up 0.5s ease-out;
}

.add-list__form input {
  color: white;
  background-color: rgba(250, 250, 250, 0);
  padding: 8px 0;
  border: none;
  font-size: 18px;
  width: 100%;
  border-bottom: 2px solid rgba(250, 250, 250, 0.5);
  margin-bottom: 20px;
}

.add-list__form input:focus {
  outline: none;
}

.add-list__form input::placeholder {
  color: rgba(250, 250, 250, 0.5);
}

.submit-add-todo {
  color: white;
  background-color: #2ebaee;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 12px 12px rgba(12, 12, 12, 0.2);
  transition: box-shadow 0.2s linear;
}

.submit-add-todo:hover {
  box-shadow: 0px 12px 12px rgba(12, 12, 12, 0.2),
    0px 0px 0px 6px rgba(26, 66, 179, 0.5) inset;
}

.submit-add-todo:focus {
  outline: none;
}
